button {
  transition: all 0.5s ease;
  color: #fff;
  border: 3px solid white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 20px;
  background-color: transparent;
  padding: 10px;
  outline: none;
  border-radius: 5px;
}
button:hover {
  color: black;
  background-color: #fff;
}

body {
  margin-top: 4%;
  margin-left: 25%;
  background-color: #36454f;
}
h1 {
  font-size: 40px;
  padding-left: 20%;
  font-family: fantasy;
  color: chocolate;
}
p {
  position: absolute;
  margin-top: 33%;
  color: grey;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: left;
}
/*music*/
audio {
  display: none;
  border-color: #36454f;
  position: absolute;
}
